@use './basis/variables.scss';
@use './basis/structure.scss';

.homeMain {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    background: variables.$primary;
    filter: drop-shadow(0 0 5px rgba(variables.$white, 50%));
    border-radius: 12px;
    @media (width <= 1040px) {
        width: 65%;
        padding: 30px 50px;
    }
    @media (width <= 768px) {
        width: 80%;
        padding: 30px 50px;
    }
    @media (width <= 425px) {
        width: 90%;
        padding: 30px 20px;
    }
    @media (width <= 320px) {
        width: 100%;
    }

    & .techLogo {
        filter: drop-shadow(0 0 10px variables.$secondary);
        user-select: none;
        transition: filter 0.5s ease;
        cursor: pointer;
        @media (width <= 1040px) {
            width: 100px;
            height: 100px;
        }
        @media (width <= 425px) {
            width: 80px;
            height: 80px;
        }
        @media (width <= 320px) {
            height: 75px;
            width: 75px;
        }
        &:hover {
            filter: none;
        }
    }

    & .helloWorld {
        font-size: 3em;
        font-family: variables.$header;
        text-align: center;
        margin-bottom: 10px;
        font-weight: normal;
        cursor: pointer;
        transition: color 0.5s ease;
        @media (width <= 1040px) {
            font-size: 2.5em;
        }
        @media (width <= 425px) {
            margin-top: 10px;
            font-size: 2em;
        }
        @media (width <= 375px) {
            font-size: 1.75em;
        }
        @media (width <= 320px) {
            font-size: 1.6em;
        }
        &:hover {
            color: darken(variables.$white, 15%);
            animation: shakeX 2s forwards;
        }
    }

    & .randomTech {
        margin-bottom: 25px;
        background: transparent;
        border: 2px solid variables.$white;
        border-bottom: 4px solid variables.$white;
        border-radius: 4px;
        padding: 15px 20px;
        font-size: 1.2em;
        color: variables.$white;
        @media (width <= 1040px) {
            font-size: 1em;
        }
        @media (width <= 425px) {
            font-size: 0.9em;
        }
        @media (width <= 320px) {
            padding: 10px 15px;
            font-size: 0.8em;
            margin-bottom: 15px;
        }
        &:hover {
            color: variables.$secondary;
            border: 2px solid variables.$secondary;
            border-bottom: 4px solid variables.$secondary;
        }
        &:active {
            transform: scale(0.95);
        }
    }

    & .extraData {
        text-align: center;
        font-size: 0.8em;
        display: inline;
        @media (width <= 1040px) {
            font-size: 0.7em;
        }
        @media (width <= 425px) {
            font-size: 0.6em;
        }
        @media (width <= 320px) {
            font-size: 0.5em;
        }
    }
}