@use './basis/variables.scss';

.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    & .charchingBig {
        font-size: 4em;
    }

    & .loadingTitle {
        font-size: 3em;
        @media(width <= 375px) {
            font-size: 2.5em;
        }
        @media(width <= 320px) {
            font-size: 2em;
        }
    }
}

.loadingInline {
    display: flex;
    gap: 10px;

    & .charchingSmall {
        font-size: 1.5em;
    }

    & .loadingTitle {
        font-size: 1.2em;
    }
}