/* ! COLORES */
/* ! FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap");
main[of=home] {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #404E6C;
  padding: 40px 0;
  border-radius: 8px;
  transition: box-shadow 0.8s ease, background 0.5s ease;
}
main[of=home]:hover {
  box-shadow: 0px 0px 5px #404E6C;
  background: rgb(18, 18, 31);
}
main[of=home] img {
  filter: drop-shadow(0 0 5px #e0e0e0);
  transition: filter 0.3s ease;
  margin-bottom: 10px;
  cursor: pointer;
}
main[of=home] img:hover {
  filter: none;
}
main[of=home] h1 {
  font-family: "Reddit Mono", monospace;
  font-weight: normal;
  font-size: 3em;
  margin-bottom: 20px;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  transition: filter 0.8s ease, transform 0.5s ease;
}
main[of=home] h1:hover {
  filter: drop-shadow(0 0 3px #e0e0e0);
  transform: scale(1.1);
}
main[of=home] .randomTech {
  font-size: 1.3em;
  background: transparent;
  border: 3px outset #A2B9BC;
  color: #e0e0e0;
  padding: 10px 20px;
  margin-bottom: 12.5px;
  transition: background 0.3s ease, border 0.5s ease;
  margin-bottom: 20px;
  cursor: pointer;
}
main[of=home] .randomTech:hover {
  cursor: pointer;
  border: 3px inset #A2B9BC;
  background: rgb(18, 18, 31);
}
main[of=home] .extra {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 90%;
  gap: 5px;
}
main[of=home] .extra small {
  display: inline;
  font-size: 0.65em;
  font-family: "Reddit Mono", monospace;
}
