/* ! COLORES */
/* ! FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap");
.loadingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loadingPage h1 {
  font-size: 2em;
  font-weight: normal;
}
.loadingPage i {
  font-size: 4em;
  color: #404E6C;
}

.loadingInline {
  display: flex;
  align-items: center;
  gap: 5px;
}
.loadingInline h1 {
  font-size: 0.9em;
  font-weight: normal;
}
.loadingInline i {
  font-size: 1.5em;
  color: #404E6C;
}
