@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap");
.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.firstContainer .charchingBig {
  font-size: 4em;
}
.firstContainer .loadingTitle {
  font-size: 3em;
}
@media (width <= 375px) {
  .firstContainer .loadingTitle {
    font-size: 2.5em;
  }
}
@media (width <= 320px) {
  .firstContainer .loadingTitle {
    font-size: 2em;
  }
}

.loadingInline {
  display: flex;
  gap: 10px;
}
.loadingInline .charchingSmall {
  font-size: 1.5em;
}
.loadingInline .loadingTitle {
  font-size: 1.2em;
}
