@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}
a.reset {
  text-decoration: none;
}

button {
  cursor: pointer;
  user-select: none;
}
button.reset {
  border: none;
}

ul.reset {
  list-style: none;
}

img {
  user-select: none;
}

body {
  width: 100%;
  min-height: 100vh;
}

.firstContainer {
  width: 100%;
  min-height: 100vh;
  background: #0F0F1A;
  color: #e0e0e0;
  padding: 30px;
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width <= 1040px) {
  .firstContainer {
    padding: 20px;
  }
}
@media (width <= 425px) {
  .firstContainer {
    padding: 30px;
  }
}
.firstContainer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.firstContainer header .logo {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0 5px #e0e0e0);
  transition: margin 0.5s ease-in-out, filter 0.5s ease;
  cursor: pointer;
}
@media (width <= 425px) {
  .firstContainer header .logo {
    width: 80px;
    height: 80px;
  }
}
@media (width <= 320px) {
  .firstContainer header .logo {
    width: 75px;
    height: 75px;
  }
}
.firstContainer header .logo:hover {
  margin: 0 10px;
  filter: drop-shadow(0 0 7.5px #e0e0e0);
}
.firstContainer header .headerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 0 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #d3be6f;
}
@media (width <= 425px) {
  .firstContainer header .headerNav {
    gap: 30px;
    padding: 0 20px;
    padding-bottom: 10px;
  }
}
@media (width <= 320px) {
  .firstContainer header .headerNav {
    gap: 20px;
    padding: 0 20px;
    padding-bottom: 10px;
  }
}
.firstContainer header .headerNav i {
  font-size: 1.3em;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
@media (width <= 425px) {
  .firstContainer header .headerNav i {
    font-size: 1em;
  }
}
@media (width <= 320px) {
  .firstContainer header .headerNav i {
    font-size: 0.9em;
  }
}
.firstContainer header .headerNav i:hover {
  color: #d3be6f;
}
.firstContainer header .headerNav i#cog:hover {
  animation: rotate 1s infinite;
}
@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.firstContainer header .headerNav i#bell:hover {
  animation: tada 0.8s forwards;
}
.firstContainer main:not(.homeMain) {
  min-height: 100vh;
  height: max-content;
}
.firstContainer footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstContainer footer .credits {
  font-size: 0.75em;
}
@media (width <= 425px) {
  .firstContainer footer .credits {
    font-size: 0.55em;
  }
}
.firstContainer footer .credits i {
  font-size: 1em;
  vertical-align: text-bottom;
}
.firstContainer footer .credits .author {
  color: #d3be6f;
}
.firstContainer footer .credits .author:hover {
  text-decoration: underline;
}

.homePage {
  height: 100vh;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 320px) or (height > 565px) {
  .homePage {
    justify-content: center;
    gap: 30px;
  }
}

.configMenu[open] {
  overflow: hidden;
  width: max-content;
  z-index: 9999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: radial-gradient(#0F0F1A 50%, rgba(15, 15, 26, 0.99));
  color: #e0e0e0;
}
.configMenu[open] h1 {
  font-size: 2em;
  text-align: center;
}
@media (width <= 425px) {
  .configMenu[open] h1 {
    font-size: 1.5em;
  }
}
@media (width <= 320px) {
  .configMenu[open] h1 {
    font-size: 1.2em;
  }
}
.configMenu[open] .options {
  display: flex;
  flex-direction: column;
  background: rgb(18, 18, 31);
  width: 100%;
}
.configMenu[open] .options .item {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.configMenu[open] .options .item:hover {
  background: #18182a;
}
.configMenu[open] .options .item .name {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
}
@media (width <= 425px) {
  .configMenu[open] .options .item .name {
    font-size: 0.9em;
  }
}
@media (width <= 320px) {
  .configMenu[open] .options .item .name {
    font-size: 0.8em;
  }
}
.configMenu[open] .options .item .icon {
  font-size: 2em;
}
@media (width <= 425px) {
  .configMenu[open] .options .item .icon {
    font-size: 1.5em;
  }
}
@media (width <= 320px) {
  .configMenu[open] .options .item .icon {
    font-size: 1.3em;
  }
}
.configMenu[open] .options .item .icon.active {
  color: #d3be6f;
}
.configMenu[open] .close {
  background: transparent;
  border: 2px solid #e0e0e0;
  border-bottom: 4px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #e0e0e0;
}
.configMenu[open] .close:hover {
  color: #d3be6f;
  border-bottom: 4px solid #d3be6f;
}
@media (width <= 425px) {
  .configMenu[open] .close {
    font-size: 1em;
  }
}
@keyframes ownFadeInDown {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.guideTooltip {
  z-index: 9998;
  width: max-content;
  max-width: 300px;
  text-align: center;
  font-family: "Reddit Mono", monospace;
}
@media (width <= 768px) {
  .guideTooltip {
    max-width: 250px;
    word-wrap: break-word;
    height: max-content;
    padding: 5px 10px;
  }
}
@media (width <= 425px) {
  .guideTooltip {
    display: none;
  }
}
@media (width <= 768px) {
  .guideTooltip.fix {
    max-width: 150px;
    word-wrap: break-word;
    height: max-content;
  }
}
.guideTooltip small {
  font-size: 1em;
}
@media (width <= 768px) {
  .guideTooltip small {
    font-size: 0.6em;
  }
}
