/* ! COLORES */
/* ! FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap");
main[of=techs] {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  width: 80%;
}
main[of=techs] .tech {
  background: rgb(18, 18, 31);
  width: 20%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s ease;
}
main[of=techs] .tech:hover {
  transform: scale(1.1);
}
main[of=techs] .tech h1 {
  font-size: 1.5em;
}
main[of=techs] .tech small {
  font-size: 0.7em;
  border: 2px solid #404E6C;
  padding: 10px 20px;
  text-transform: capitalize;
  border-radius: 20px;
}
main[of=techs] .tech small.frontend {
  color: #02be70;
  border: 2px solid #02be70;
}
main[of=techs] .tech small.backend {
  color: #0660c7;
  border: 2px solid #0660c7;
}
main[of=techs] .tech small.fullstack {
  color: #048f9c;
  border: 2px solid #048f9c;
}
