* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    &.reset {
        text-decoration: none;
    }
}

button {
    cursor: pointer;
    user-select: none;
    &.reset {
        border: none;
    }
}

ul.reset {
    list-style: none;
}