@use 'variables';
@use 'reset';

body {
    width: 100%;
    min-height: 100vh;
}

.firstContainer {
    width: 100%;
    min-height: 100vh;
    background: variables.$black;
    color: variables.$white;
    padding: 30px;
    font-family: variables.$all;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (width <= 1040px) {
        padding: 20px;
    }
    @media (width <= 425px) {
        padding: 30px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            width: 100px;
            height: 100px;
            filter: drop-shadow(0 0 5px variables.$white);
            transition: margin 0.5s ease-in-out, filter 0.5s ease;
            cursor: pointer;
            @media (width <= 425px) {
                width: 80px;
                height: 80px;
            }
            @media (width <= 320px) {
                width: 75px;
                height: 75px;
            }
            &:hover {
                margin: 0 10px;
                filter: drop-shadow(0 0 7.5px variables.$white);
            }
        }

        & .headerNav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 50px;
            padding: 0 30px;
            padding-bottom: 10px;
            border-bottom: 2px solid variables.$secondary;
            @media (width <= 425px) {
                gap: 30px;
                padding: 0 20px;
                padding-bottom: 10px;
            }
            @media (width <= 320px) {
                gap: 20px;
                padding: 0 20px;
                padding-bottom: 10px;
            }

            & i {
                font-size: 1.3em;
                cursor: pointer;
                transition: color 0.5s ease-in-out;
                @media (width <= 425px) {
                    font-size: 1em;
                }
                @media (width <= 320px) {
                    font-size: 0.9em;
                }
                &:hover {
                    color: variables.$secondary;
                }
                &#cog:hover {
                    animation: rotate 1s infinite;
                    @keyframes rotate {
                        50% {
                            transform: rotate(180deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
                &#bell:hover {
                    animation: tada 0.8s forwards;
                }
            }
        }
    }

    main:not(.homeMain) {
        min-height: 100vh;
        height: max-content;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        
        & .credits {
            font-size: 0.75em;
            @media (width <= 425px) {
                font-size: 0.55em;
            }

            & i {
                font-size: 1em;
                vertical-align: text-bottom;
            }

            & .author {
                color: variables.$secondary;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.homePage {
    height: 100vh;
    max-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (width <= 320px) or (height > 565px) {
        justify-content: center;
        gap: 30px;
    }
}

.configMenu[open] {
    overflow: hidden;
    width: max-content;
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: radial-gradient(variables.$black 50%, rgba(variables.$black, 99%));
    color: variables.$white;

    & h1 {
        font-size: 2em;
        text-align: center;
        @media(width <= 425px){
            font-size: 1.5em;
        }
        @media(width <= 320px){
            font-size: 1.2em;
        }
    }

    & .options {
        display: flex;
        flex-direction: column;
        background: variables.$primary;
        width: 100%;

        & .item {
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                background: lighten(variables.$black, 5%);
            }

            & .name {
                display: flex;
                flex-wrap: wrap;
                font-size: 1em;
                @media(width <= 425px){
                    font-size: 0.9em;
                }
                @media(width <= 320px){
                    font-size: 0.8em;
                }
            }

            & .icon {
                font-size: 2em;
                @media(width <= 425px){
                    font-size: 1.5em;
                }
                @media(width <= 320px){
                    font-size: 1.3em;
                }
                &.active {
                    color: variables.$secondary;
                }
            }
        }
    }

    & .close {
        background: transparent;
        border: 2px solid variables.$white;
        border-bottom: 4px solid variables.$white;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 1.2em;
        color: variables.$white;
        &:hover {
            color: variables.$secondary;
            border-bottom: 4px solid variables.$secondary;
        }
        @media(width <= 425px){
            font-size: 1em;
        }
    }

    @keyframes ownFadeInDown {
        from {
            opacity: 0;
            transform: translate(-50%, -60%);
        }
        to {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}

.guideTooltip {
    z-index: 9998;
    width: max-content;
    max-width: 300px;
    text-align: center;
    font-family: variables.$header;
    @media (width <= 768px) {
        max-width: 250px;
        word-wrap: break-word;
        height: max-content;
        padding: 5px 10px;
    }
    @media (width <= 425px) {
        display: none;
    }

    &.fix {
        @media (width <= 768px) {
            max-width: 150px;
            word-wrap: break-word;
            height: max-content;
        }
    }
    
    & small {
        font-size: 1em;
        @media (width <= 768px) {
            font-size: 0.6em;
        }
    }
}